<a target="_blank" href="https://colab.research.google.com/github/jackma-00/house-price-prediction/blob/main/experiments/1_house_price_feature_backfill.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# <span style="font-width:bold; font-size: 3rem; color:#333;">Feature Backfill<span>

Installing required packages

In [1]:
!pip install hopsworks[python]

Collecting hopsworks[python]
  Downloading hopsworks-4.1.4-py3-none-any.whl.metadata (11 kB)
Collecting pyhumps==1.6.1 (from hopsworks[python])
  Downloading pyhumps-1.6.1-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from hopsworks[python]) (2.32.3)
Collecting furl (from hopsworks[python])
  Downloading furl-2.1.3-py2.py3-none-any.whl.metadata (1.2 kB)
Collecting boto3 (from hopsworks[python])
  Downloading boto3-1.35.85-py3-none-any.whl.metadata (6.7 kB)
Collecting pandas<2.2.0 (from hopsworks[python])
  Downloading pandas-2.1.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Collecting pyjks (from hopsworks[python])
  Downloading pyjks-20.0.0-py2.py3-none-any.whl.metadata (1.7 kB)
Collecting mock (from hopsworks[python])
  Downloading mock-5.1.0-py3-none-any.whl.metadata (3.0 kB)
Collecting avro==1.11.3 (from hopsworks[python])
  Downloading avro-1.11.3.tar.gz (90 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 90.6/90.6 kB 4.3 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from hopsworks[python]) (2.0.36)
Collecting PyMySQL[rsa] (from hopsworks[python])
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.10/dist-packages (from hopsworks[python]) (5.2)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from hopsworks[python]) (2024.10.0)
Collecting retrying (from hopsworks[python])
  Downloading retrying-1.3.4-py3-none-any.whl.metadata (6.9 kB)
Collecting hopsworks_aiomysql==0.2.1 (from hopsworks_aiomysql[sa]==0.2.1->hopsworks[python])
  Downloading hopsworks_aiomysql-0.2.1-py3-none-any.whl.metadata (11 kB)
Collecting opensearch-py<=2.4.2,>=1.1.0 (from hopsworks[python])
  Downloading opensearch_py-2.4.2-py2.py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from hopsworks[python]) (4.67.1)
Requirement already satisfied: grpcio<2.0.0,>=1.49.1 in /usr/local/lib/python3.10/dist-packages (from hopsworks[python]) (1.68.1)
Requirement already satisfied: protobuf<5.0.0,>=4.25.4 in /usr/local/lib/python3.10/dist-packages (from hopsworks[python]) (4.25.5)
Requirement already satisfied: numpy<2 in /usr/local/lib/python3.10/dist-packages (from hopsworks[python]) (1.26.4)
Requirement already satisfied: pyarrow>=10.0 in /usr/local/lib/python3.10/dist-packages (from hopsworks[python]) (17.0.0)
Collecting confluent-kafka<=2.3.0 (from hopsworks[python])
  Downloading confluent_kafka-2.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.3 kB)
Collecting fastavro<=1.8.4,>=1.4.11 (from hopsworks[python])
  Downloading fastavro-1.8.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.5 kB)
Collecting sqlalchemy (from hopsworks[python])
  Downloading SQLAlchemy-2.0.29-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Requirement already satisfied: urllib3>=1.26.18 in /usr/local/lib/python3.10/dist-packages (from opensearch-py<=2.4.2,>=1.1.0->hopsworks[python]) (2.2.3)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from opensearch-py<=2.4.2,>=1.1.0->hopsworks[python]) (1.17.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from opensearch-py<=2.4.2,>=1.1.0->hopsworks[python]) (2.8.2)
Requirement already satisfied: certifi>=2022.12.07 in /usr/local/lib/python3.10/dist-packages (from opensearch-py<=2.4.2,>=1.1.0->hopsworks[python]) (2024.12.14)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.2.0->hopsworks[python]) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.2.0->hopsworks[python]) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->hopsworks[python]) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->hopsworks[python]) (3.10)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->hopsworks[python]) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->hopsworks[python]) (3.1.1)
Collecting botocore<1.36.0,>=1.35.85 (from boto3->hopsworks[python])
  Downloading botocore-1.35.85-py3-none-any.whl.metadata (5.7 kB)
Collecting jmespath<2.0.0,>=0.7.1 (from boto3->hopsworks[python])
  Downloading jmespath-1.0.1-py3-none-any.whl.metadata (7.6 kB)
Collecting s3transfer<0.11.0,>=0.10.0 (from boto3->hopsworks[python])
  Downloading s3transfer-0.10.4-py3-none-any.whl.metadata (1.7 kB)
Collecting orderedmultidict>=1.0.1 (from furl->hopsworks[python])
  Downloading orderedmultidict-1.0.1-py2.py3-none-any.whl.metadata (1.3 kB)
Collecting javaobj-py3 (from pyjks->hopsworks[python])
  Downloading javaobj_py3-0.4.4-py2.py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: pyasn1>=0.3.5 in /usr/local/lib/python3.10/dist-packages (from pyjks->hopsworks[python]) (0.6.1)
Requirement already satisfied: pyasn1-modules in /usr/local/lib/python3.10/dist-packages (from pyjks->hopsworks[python]) (0.4.1)
Collecting pycryptodomex (from pyjks->hopsworks[python])
  Downloading pycryptodomex-3.21.0-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.4 kB)
Collecting twofish (from pyjks->hopsworks[python])
  Downloading twofish-0.3.0.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: cryptography in /usr/local/lib/python3.10/dist-packages (from PyMySQL[rsa]->hopsworks[python]) (43.0.3)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography->PyMySQL[rsa]->hopsworks[python]) (1.17.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography->PyMySQL[rsa]->hopsworks[python]) (2.22)
Downloading hopsworks_aiomysql-0.2.1-py3-none-any.whl (44 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 44.2/44.2 kB 2.9 MB/s eta 0:00:00
Downloading pyhumps-1.6.1-py3-none-any.whl (5.0 kB)
Downloading confluent_kafka-2.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.0 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4.0/4.0 MB 49.6 MB/s eta 0:00:00
Downloading fastavro-1.8.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3.0/3.0 MB 59.8 MB/s eta 0:00:00
Downloading opensearch_py-2.4.2-py2.py3-none-any.whl (258 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 258.6/258.6 kB 18.0 MB/s eta 0:00:00
Downloading pandas-2.1.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 12.3/12.3 MB 89.1 MB/s eta 0:00:00
Downloading SQLAlchemy-2.0.29-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3.1/3.1 MB 79.7 MB/s eta 0:00:00
Downloading boto3-1.35.85-py3-none-any.whl (139 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 139.2/139.2 kB 10.3 MB/s eta 0:00:00
Downloading furl-2.1.3-py2.py3-none-any.whl (20 kB)
Downloading hopsworks-4.1.4-py3-none-any.whl (640 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 640.3/640.3 kB 37.4 MB/s eta 0:00:00
Downloading mock-5.1.0-py3-none-any.whl (30 kB)
Downloading pyjks-20.0.0-py2.py3-none-any.whl (45 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 45.3/45.3 kB 3.0 MB/s eta 0:00:00
Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Downloading botocore-1.35.85-py3-none-any.whl (13.3 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 13.3/13.3 MB 82.8 MB/s eta 0:00:00
Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Downloading orderedmultidict-1.0.1-py2.py3-none-any.whl (11 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 45.0/45.0 kB 2.9 MB/s eta 0:00:00
Downloading s3transfer-0.10.4-py3-none-any.whl (83 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 83.2/83.2 kB 7.0 MB/s eta 0:00:00
Downloading javaobj_py3-0.4.4-py2.py3-none-any.whl (57 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 57.1/57.1 kB 4.2 MB/s eta 0:00:00
Downloading pycryptodomex-3.21.0-cp36-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.3 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2.3/2.3 MB 61.5 MB/s eta 0:00:00
Building wheels for collected packages: avro, twofish
  Building wheel for avro (pyproject.toml) ... done
  Created wheel for avro: filename=avro-1.11.3-py2.py3-none-any.whl size=123910 sha256=9815cb7b0e1f792164382e5573560efd462c344cf1ae7c90ad5dba7bd1ba5af0
  Stored in directory: /root/.cache/pip/wheels/1d/f6/41/0e0399396af07060e64d4e32c8bd259b48b98a4a114df31294
  Building wheel for twofish (setup.py) ... done
  Created wheel for twofish: filename=twofish-0.3.0-cp310-cp310-linux_x86_64.whl size=24197 sha256=1b412a8aeed10e0ee71b4859c5c4f37fdc71840772cdbe5b6f3e19c18580ae63
  Stored in directory: /root/.cache/pip/wheels/a7/3c/27/c390be4f3e8a299d4b2836f8daa19697eb991eacbfabe25031
Successfully built avro twofish
Installing collected packages: twofish, pyhumps, javaobj-py3, confluent-kafka, sqlalchemy, retrying, PyMySQL, pycryptodomex, orderedmultidict, mock, jmespath, fastavro, avro, pyjks, pandas, opensearch-py, hopsworks_aiomysql, furl, botocore, s3transfer, boto3, hopsworks
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.36
    Uninstalling SQLAlchemy-2.0.36:
      Successfully uninstalled SQLAlchemy-2.0.36
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 2.1.4 which is incompatible.
mizani 0.13.1 requires pandas>=2.2.0, but you have pandas 2.1.4 which is incompatible.
plotnine 0.14.4 requires pandas>=2.2.0, but you have pandas 2.1.4 which is incompatible.
Successfully installed PyMySQL-1.1.1 avro-1.11.3 boto3-1.35.85 botocore-1.35.85 confluent-kafka-2.3.0 fastavro-1.8.4 furl-2.1.3 hopsworks-4.1.4 hopsworks_aiomysql-0.2.1 javaobj-py3-0.4.4 jmespath-1.0.1 mock-5.1.0 opensearch-py-2.4.2 orderedmultidict-1.0.1 pandas-2.1.4 pycryptodomex-3.21.0 pyhumps-1.6.1 pyjks-20.0.0 retrying-1.3.4 s3transfer-0.10.4 sqlalchemy-2.0.29 twofish-0.3.0

### Imports

In [1]:
import pandas as pd
import hopsworks
import os

import warnings
warnings.filterwarnings("ignore")

from dotenv import load_dotenv

e:\Learning\house-price-prediction\housepredenv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

### <span style='color:#ff5f27'> Connect to Hopsworks Feature Store

In [4]:
# If you haven't set the env variable 'HOPSWORKS_API_KEY', then uncomment the next line and enter your API key
# os.environ["HOPSWORKS_API_KEY"] = ""
load_dotenv()

os.environ["HOPSWORKS_API_KEY"]

'gDvedjVbjxyLtag0.79Zt3ihFkMl2s5e62kZQmOR47WHuT36x3BpdmLf3PalB0265CaXFwcxWUBZPnk37'

In [7]:
hopsworks.get_current_project()

Project('TestProj1', 'maheshkumar201095@gmail.com', 'Default project')

In [6]:
proj = hopsworks.login(api_key_value='gDvedjVbjxyLtag0.79Zt3ihFkMl2s5e62kZQmOR47WHuT36x3BpdmLf3PalB0265CaXFwcxWUBZPnk37')

2025-04-15 20:47:13,418 INFO: Initializing external client
2025-04-15 20:47:13,419 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-04-15 20:47:18,302 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1222838

## <span style="color:#ff5f27;"> ðŸ’½ Loading the Data </span>

In [16]:
# Load properties CSV into Dataframe
properties_csv = r'E:\Learning\house-price-prediction\src\data_scrapper\realtor-data.csv'
properties_df = pd.read_csv(properties_csv)

In [17]:
properties_df

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3.0,2.0,0.12,1962661.0,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,52707.0,for_sale,80000.0,4.0,2.0,0.08,1902874.0,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,103379.0,for_sale,67000.0,2.0,1.0,0.15,1404990.0,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,31239.0,for_sale,145000.0,4.0,2.0,0.10,1947675.0,Ponce,Puerto Rico,731.0,1800.0,NaN
4,34632.0,for_sale,65000.0,6.0,2.0,0.05,331151.0,Mayaguez,Puerto Rico,680.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2226377,23009.0,sold,359900.0,4.0,2.0,0.33,353094.0,Richland,Washington,99354.0,3600.0,2022-03-25
2226378,18208.0,sold,350000.0,3.0,2.0,0.10,1062149.0,Richland,Washington,99354.0,1616.0,2022-03-25
2226379,76856.0,sold,440000.0,6.0,3.0,0.50,405677.0,Richland,Washington,99354.0,3200.0,2022-03-24
2226380,53618.0,sold,179900.0,2.0,1.0,0.09,761379.0,Richland,Washington,99354.0,933.0,2022-03-24
2226381,108243.0,sold,580000.0,5.0,3.0,0.31,307704.0,Richland,Washington,99354.0,3615.0,2022-03-23

## <span style="color:#ff5f27;"> Data Cleaning

In [18]:
properties_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2226382 entries, 0 to 2226381
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   brokered_by     float64
 1   status          object
 2   price           float64
 3   bed             float64
 4   bath            float64
 5   acre_lot        float64
 6   street          float64
 7   city            object
 8   state           object
 9   zip_code        float64
 10  house_size      float64
 11  prev_sold_date  object
dtypes: float64(8), object(4)
memory usage: 203.8+ MB

Drop null values

In [19]:
properties_df.dropna(inplace=True)

Convert column names to lowercase

In [13]:
# Convert column names to lowercase
properties_df.columns = properties_df.columns.str.lower()

**Evaluating candidate features for properties fg**

Primary key:
* id

Timestamp:
* scraping_date

Numerical features:
* agencyid
* bedroomsnumber
* buildingyear
* codcom
* gsm
* surface
* latitude
* longitude

Boolean features:
* isluxury
* isnew
* on_the_market
* zeroenergybuilding

Categorical features:
* airconditioning
* bathrooms
* city
* condition
* energyclass
* ga4heating
* garage
* heatingtype
* pricerange
* rooms
* id_zona_omi

Label:
* price

In [20]:
# properties selected columns
properties_df = properties_df[['brokered_by', 'status', 'price', 'bed', 'bath', 'acre_lot', 'street',
       'city', 'state', 'zip_code', 'house_size','prev_sold_date' ]]

In [21]:
properties_df['prev_sold_date'] = pd.to_datetime(properties_df['prev_sold_date'])
# properties_df = properties_df.sort_values(by=['scraping_date'])

In [27]:
properties_df.reset_index(inplace=True)

In [28]:
properties_df

,index,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,502,92147.0,for_sale,110000.0,7.0,3.0,0.09,1842706.0,Dorado,Puerto Rico,949.0,1192.0,2019-06-28
1,2270,94933.0,for_sale,950000.0,5.0,4.0,0.99,1260473.0,Saint Thomas,Virgin Islands,802.0,5000.0,2013-10-11
2,2277,103341.0,for_sale,6899000.0,4.0,6.0,0.83,17467.0,Saint Thomas,Virgin Islands,802.0,4600.0,2018-04-05
3,3409,21163.0,for_sale,525000.0,3.0,3.0,0.45,1813270.0,Agawam,Massachusetts,1001.0,2314.0,2014-06-25
4,3410,67455.0,for_sale,289900.0,3.0,2.0,0.36,1698080.0,Agawam,Massachusetts,1001.0,1276.0,2012-10-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1084904,2226377,23009.0,sold,359900.0,4.0,2.0,0.33,353094.0,Richland,Washington,99354.0,3600.0,2022-03-25
1084905,2226378,18208.0,sold,350000.0,3.0,2.0,0.10,1062149.0,Richland,Washington,99354.0,1616.0,2022-03-25
1084906,2226379,76856.0,sold,440000.0,6.0,3.0,0.50,405677.0,Richland,Washington,99354.0,3200.0,2022-03-24
1084907,2226380,53618.0,sold,179900.0,2.0,1.0,0.09,761379.0,Richland,Washington,99354.0,933.0,2022-03-24
1084908,2226381,108243.0,sold,580000.0,5.0,3.0,0.31,307704.0,Richland,Washington,99354.0,3615.0,2022-03-23

## <span style="color:#ff5f27;"> ðŸª„ Creating Feature Groups </span>

In [23]:
fs = proj.get_feature_store()

In [24]:
fs

In [29]:
# Get or create the 'properties' feature group
properties_fg = fs.get_or_create_feature_group(
    name='properties',
    version=4,                                                 # Breaking version
    description='Property Features and Corresponding Prices',
    online_enabled=True,                                       # Necessary for online inference
    primary_key=['index'],
    event_time='prev_sold_date',
)

In [30]:
# Insert data into feature group
properties_fg.insert(properties_df)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/1222838/fs/1209447/fg/1435249

Uploading Dataframe: 100.00% |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| Rows 1084909/1084909 | Elapsed Time: 00:52 | Remaining Time: 00:00

Launching job: properties_4_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai:443/p/1222838/jobs/named/properties_4_offline_fg_materialization/executions

(Job('properties_4_offline_fg_materialization', 'SPARK'), None)

In [31]:
properties_df.to_csv("E:\Learning\house-price-prediction\src\data_scrapper\properties.csv")

In [ ]:
omi_fg = fs.get_or_create_feature_group(
    name='omi',
    version=2,
    description='OMI information',
    online_enabled=True,
    primary_key=['id_zona_omi'],
)

In [ ]:
# Insert data into feature group
omi_fg.insert(omi_df)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/1158295/fs/1148998/fg/1392972

Uploading Dataframe: 100.00% |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| Rows 240570/240570 | Elapsed Time: 00:14 | Remaining Time: 00:00

Launching job: omi_2_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai:443/p/1158295/jobs/named/omi_2_offline_fg_materialization/executions

(Job('omi_2_offline_fg_materialization', 'SPARK'), None)